<a href="{% url 'app:event_detail' event.id %}" class="list-group-item list-group-item-action mb-2">
    <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">{{ event.title }}</h4>
        <small class="text-muted">From: {{ event.start_time }}</small>
        <small class="text-muted">To: {{ event.end_time }}</small>
    </div>
    <div>
        <p>Hosted by: {{ event.owner.user.username }}</p>
        <p class="mb-1">{{ event.description }}</p>
        <p>Number of participants: {{ event.participants.count }}</p>
    </div>
</a>